@use 'base/variables' as v;

@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}
@mixin desktopXL {
    @media (min-width: v.$desktopXL) {
        @content;
    }
}

@mixin contenedor {
    width: min(95%, 120rem);
    margin-inline: auto;
    margin: 0 auto;
}

@mixin grid($columnas: 1, $espaciado: 5rem) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;
}
@mixin resetearLista {
    list-style: none;
    padding: 0; 
    margin: 0;
}

@mixin boton($bgColor, $display: inline-block) {
    background-color: $bgColor;
    color: v.$blanco;
    font-weight: v.$bold;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: calc(v.$separacion / 2);
    display: $display;
    transition: background-color .3s ease;
    border: none;

    &:hover {
        background-color: darken($bgColor, 5);
        cursor: pointer;
    }
}