@use 'base/variables' as v;
@use 'base/mixins' as m;

.seccion {
    margin-top: calc(v.$separacion / 2);
    margin-bottom: calc(v.$separacion / 2);
}
.contenido-centrado {
    max-width: 800px;
}
.alinear-derecha {
    display: flex;
    justify-content: flex-end;
}
.w-sm-100 {
    width: 100%;
    @include m.tablet {
        width: auto;
    }
}