@use 'base/variables' as v;
@use 'base/mixins' as m;

.derecha {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include m.tablet {
        align-items: flex-end;
    }

    .dark-mode-boton {
        width: 2rem;
        filter: invert(1);
        margin-top: 1rem;
        margin-bottom: 2rem;

        @include m.tablet {
            margin-top: 0;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.barra {
    padding-top: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.navegacion {
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s ease-in-out, opacity .3s linear, height .5s cubic-bezier(0.1, 0.9, 0.2, 1);
    height: 0;

    @include m.tablet {
        display: flex;
        align-items: center;
        gap: 2rem;
        opacity: 1;
        visibility: visible;
    }

    a {
        color: v.$blanco;
        font-size: 1.8rem;
        text-decoration: none;
        display: block;
        text-align: center;
        transition: color .3s ease;

        &:hover {
            color: v.$verde;
        }
    }
}
/* Menú Movil */
.mobile-menu {
    @include m.tablet {
        display: none;
    }

    img {
        width: 2rem;
    }

    &:hover {
        cursor: pointer;
    }
}

.mostrar {
    visibility: visible;
    opacity: 1;
    height: auto;
}