@use 'base/variables' as v;
@use 'base/mixins' as m;

.barra {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;

    @include m.tablet {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion {
    @include m.tablet {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    a {
        color: v.$blanco;
        font-size: 1.8rem;
        text-decoration: none;
        display: block;
        text-align: center;
        transition: color .3s ease;

        &:hover {
            color: v.$verde;
        }
    }
}