@use 'base/variables' as v;
@use 'base/mixins' as m;

.testimonial {
    background-color: v.$verde;
    font-size: 2.2rem;
    padding: 2rem;
    color: v.$blanco;
    border-radius: 1rem;

    box-shadow: 2px 2px 9px -2px rgba(51, 51, 51, 0.78);
    -webkit-box-shadow: 2px 2px 9px -2px rgba(51, 51, 51, 0.78);
    -moz-box-shadow: 2px 2px 9px -2px rgba(51, 51, 51, 0.78);

    blockquote {
        padding-left: 5rem;
        position: relative;

        &::before {
            content: '';
            background-image: url(../img/comilla.svg);
            background-repeat: no-repeat;
            width: 6rem;
            height: 8rem;
            display: block;
            position: absolute;
            left: -2rem;
        }
    }

    p {
        text-align: right;
        color: v.$blanco;
    }
}